.home {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar-wrapper {
  width: 30%;
}

.notearea-wrapper {
  width: 70%;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    position: relative;
  }

  .sidebar-wrapper,
  .notearea-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    transition: all 0.3s ease;
  }

  .sidebar-wrapper.hide {
    left: -100%;
  }

  .notearea-wrapper {
    left: 100%;
  }

  .notearea-wrapper.show {
    left: 0;
  }
}
